<footer class="fixed z-10 gap-4 bottom-2 left-4 right-4 h-18 md:hidden">
  <div class="grid max-w-lg grid-cols-4 gap-2">
    <div class="grid-flow-col grid grid-cols-{{buttoms.length}} col-span-3 gap-1 p-1 bg-white rounded-md shadow-xl">
      @for (btn of buttoms; track $index) {
      <button type="button"
        class="inline-flex flex-col items-center justify-center p-2 text-gray-500 rounded-md select-none hover:text-red-500 group"
        [routerLink]="btn.link" routerLinkActive="bg-primary-100 text-primary-700">
        <fa-icon [icon]="btn.icon"></fa-icon>
        <span class="text-xs ">
          {{btn.label}}
        </span>
      </button>
      }
    </div>
    <div class="relative">
      <button type="button" routerLink="/store/checkout"
        class="inline-flex flex-col items-center justify-center w-full h-full p-2 rounded-md shadow-xl bg-primary-700 dark:hover:bg-gray-800 group">
        <fa-icon [icon]="ctaButtonIcon" class="text-white" size="xl"></fa-icon>
        <span class="absolute w-5 h-5 text-xs leading-5 bg-yellow-300 rounded-full right-2 top-2">99 </span>
      </button>
    </div>
  </div>
</footer>
